@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.socialLinks {
  .container {
    max-width: 400px;
    min-width: 250px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    //background-color: $ms-color-themeDark;
    //background-color: #666464;
    background-color:#9A9896;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    //@include ms-lg10;
    //@include ms-xl8;
    //@include ms-xlPush2;
    //@include ms-lgPush1;
    width: 100%;
  }

  .socialContent {
    display: inline-block;
    width:100%;

    tbody {
      border:0;
    }
    table {
      width:100%;
    }
    td {
      text-align:center;
      width:25%;
    }
    img {
      max-height:40px;
      max-width:40px;
    }
  }
}